body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', Arial;
    font-size: 14rpx;
    color: #2c2c2c;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    overflow: hidden;
}

a {
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0rpx 9rpx 0rpx 0rpx;
    vertical-align: bottom;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text]::-ms-clear {
    width: 0;
    height: 0;
    display: none;
}

#outerContainer {
    position: absolute;
    width:1000rpx;
    height:1500rpx;
    overflow: hidden;
    display: flex;
}

#mobileControlFrameContainer {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.splitbar {
    display: none;
    position: absolute;
    top: 0rpx;
    width: 3rpx;
    height: 100%;
    cursor: ew-resize;
    z-index: 5;
    user-select: none;
}

.splitbar:hover, .splitbar.active {
    background: #cccccc;
}

#lsplitbar {
    border-right: 1rpx solid #cccccc;
}

#rsplitbar {
    border-left: 1rpx solid #cccccc;
}

#mainPanel {
    background-color: #d8d8d8;
    opacity: 0; 
    flex: 1;
    overflow: hidden;
}

#clippingBounds {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

#clippingBounds div {
    pointer-events: auto;
}

#clippingBoundsScrollContainer {
    position: absolute;
    pointer-events: none;
}

#browserOutOfDateNotification {
    width: 100%;
    height: 289rpx;
    background-color: #e36154;
    padding-top: 40rpx;
    color: #FFFFFF;
}
    .mobileMode #browserOutOfDateNotification {
        padding-top: 15rpx;
    }

#supportedBrowsersListContainer {
    border-radius: 5rpx;
    line-height: 1.64;
    background-color: #c3463a;
    padding-top: 4rpx;
    width: 255rpx;
    margin: auto;
}

.browserName {
    display: inline-block;
    width: 55%;
    font-weight: bold;
    margin-left: 18rpx;
}

.browserSupportedVersion {
    display: inline-block;
    font-style: italic;
}

#browserOutOfDateNotificationButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 28rpx;
}
    .mobileMode #browserOutOfDateNotificationButtons {
        margin-top: 8rpx;
    }

#updateBrowserButton {
    display: inline-block;
    width: 330rpx;
    height: 35rpx;
    margin-left: auto;
    line-height: 35rpx;
    text-decoration: none;
    text-align: center;
    border-radius: 9rpx;
    border: solid 1rpx #FFFFFF;
    color: #FFFFFF;
}

#continueToPrototypeButton {
    display: inline-block;
    text-align: center;
    line-height: 37rpx;
    text-decoration: underline;
}

#topPanel {
    z-index: 1;
    height: 36rpx;
    background-color: #f2f2f2;
    border-bottom: 1rpx solid #cccccc;
    user-select: none;
}

.leftPanel, .rightPanel, .mobileOnlyPanel {
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;
    width: 0rpx;
    flex-shrink: 0;
}


.popup, .leftPanel.popup {
    position: absolute;
    z-index: 20000;
    display: none;
    background-color: #f2f2f2;
    border: solid 1rpx #bdbcbc;
    position: absolute;
    box-shadow: 0 1rpx 2rpx 0 rgba(87, 87, 87, 0.5);
}

.leftPanel.popup .sitemapHeader, .leftPanel.popup #searchDiv {
    display: none;
}

#clipFrameScroll {
}

.splitterMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/transparent.gif);
    z-index: 10000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#maximizePanelContainer {
  font-size: 4rpx;
  overflow: hidden;
  z-index: 1000;
  display: none;
}

#maximizePanel {
    background-color: #f2f2f2;
    cursor: pointer;
}

#maximizePanelContainer, #maximizePanelOver, #maximizePanel {
  position:absolute;
  left: 0rpx;
  top: 0rpx;
  width: 28rpx;
  height: 36rpx;
}

#interfaceControlFrameMinimizeContainer {
    font-size: 2rpx; /*for IE*/
    text-align: right;
    z-index: 100;
    height: 36rpx;
    width: 28rpx;
    border-right: solid 1rpx #cbcbcb;
}
#interfaceControlFrameMinimizeContainer a {
    display: inline-block;
    width: 28rpx;
    height: 100%;
    font-size: 2rpx;
    text-decoration: none;
}

#interfaceControlFrame {
    height: 100%;
    display: flex;
    opacity: 0;
}

#interfaceControlFrameCloseContainer {
    display: none;
    font-size: 9rpx;
    font-weight: bold;
    letter-spacing: 1rpx;
    z-index: 100;
    width: 55rpx;
    background-color: #62666b;
    text-align: center;  
}
#interfaceControlFrameCloseContainer a {
    display: inline-block;
    width: 55rpx;
    color: #ffffff;
    padding: 5rpx 0rpx;
}
#inspectControlFrameHeader li {
    float: left;
    display: block;
    width: 42rpx;
    height: 36rpx;
    padding: 4rpx 5rpx 4rpx 5rpx;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inspectControlFrameHeader li a {
    height: 100%;
    width: 32rpx;
    display: block;
    text-align: center;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hashover #inspectControlFrameHeader li a:hover {
    border-radius: 3rpx;
    background-color: #e6e6e6;
}

/*#inspectControlFrameHeader li a.selected, #inspectControlFrameHeader li a.selected:hover {
    background-color: inherit;
}*/

#inspectControlFrameHeaderContainer {
    overflow: visible;
}

#inspectControlFrameHeader {
    position: relative;
    list-style: none;
    z-index: 50;
    letter-spacing: 1rpx;
    display: flex;
}

#projectControlFrameHeaderContainer {
    overflow: visible;
}

#projectControlFrameHeader {
    position: relative;
    list-style: none;
    font-size: 8rpx;
    z-index: 50;
    font-weight: bold;
    letter-spacing: 1rpx;
}

#projectControlFrameHeader li {
    float: left;
    display: block;
    width: 28rpx;
    height: 28rpx;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#projectControlFrameHeader li a {
    display: block;
    height: 100%;
    width: 32rpx;
    outline: none;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hashover #projectControlFrameHeader li a:hover {
    border-radius: 3rpx;
    background-color: #e6e6e6;
}

/*#projectControlFrameHeader li a.selected, #projectControlFrameHeader li a.selected:hover {
    background-color: inherit;
}*/

#publishContainer {
    display: none;
    margin: 6rpx 20.5rpx 5rpx;
    width: 150rpx;
    height: 25rpx;
    border-radius: 10rpx;
    background-color: #008dcb;
}

#publishContainer.preview {
    display: block;
}

#overflowBtn {
    order: 5;
}

#overflowMenuButton {
    background: url('../images/overflow-icon.svg') no-repeat center center, linear-gradient(transparent,transparent);
}
#overflowMenuButton.selected {
    background: url('../images/overflow_icon_off.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

.overflowOptionCheckbox, #projectOptionsHotspotsCheckbox {
    position: relative;
    border: solid 1rpx #8c8c8c;
    display: inline-block;
}
    .overflowOptionCheckbox {
        width: 10rpx;
        height: 10rpx;
        margin-right: 14rpx;
        top: 1rpx;
    }
    #projectOptionsHotspotsCheckbox {
        width: 16rpx;
        height: 16rpx;
        margin-right: 25rpx;
        margin-left: 21rpx;
        top: 2.5rpx;
    }

.overflowOptionCheckbox.selected, #projectOptionsHotspotsCheckbox.selected {
    background: url('../images/overflow_checkmark.svg') no-repeat center center, linear-gradient(transparent,transparent);
    background-color: #20bba6;
    border: solid 1rpx #20bba6;
    background-size: contain;
}

#overflowMenuContainer {
    display: none;
    flex-direction: column;
    top: 36rpx;
    right: 80rpx;
    width: 171rpx;
    border-radius: 2rpx;
    padding-bottom: 9rpx;
}

#overflowMenuContainer.popup {
    display: flex;
}

#scaleMenuContainer {
    display: none;
    flex-direction: column;
    top: 36rpx;
    right: 200rpx;
    width: 140rpx;
    border-radius: 2rpx;
    padding-top: 9rpx;
}

.vpZoomValue {
    padding: 3rpx 9rpx 3rpx 16rpx;
    cursor: pointer;
    user-select: none;
}

.vpZoomValue:hover {
    background-color: #e6e6e6;
}

.showOption {
    font-size: 14rpx;
	padding: 9rpx 0rpx 0rpx 15rpx;
    color: #3B3B3B;
}

.showOption:hover {
	cursor: pointer;
}

#publishButton {
    display: block;
    width: 95rpx;
    margin: auto;
    font-size: 14rpx;
    line-height: 26rpx;
    color: #ffffff;
}

.maximizeCaret {
    width: 5rpx;
    height: 5rpx;
    object-fit: contain;
    border-right: solid 1.5rpx #525252;
    border-top: solid 1.5rpx #525252;
    margin: auto;
}
.caret {
    width: 9rpx;
    height: 7rpx;
    background: url('../images/caret_down.svg') no-repeat center center, linear-gradient(transparent,transparent);
}
.selected .caret {
    background: url('../images/caret_down_off.svg') no-repeat center center, linear-gradient(transparent,transparent);
}
.upCaret {
    transform: rotate(-45deg);
}
.leftCaret {
    transform: rotate(-135deg);
}
.downCaret {
    transform: rotate(-225deg);
}
.rightCaret {
    transform: rotate(-315deg);
}

#pageSelectDropdown, #adaptiveViewsDropdown {
    display: inline-block;
    margin-left: 8rpx;
}

.minimizeIcon, .maximizeIcon {
    transition: .25s linear;
    position: absolute;
    height: 36rpx;
    width: 28rpx;
}

#minimizeX {
    background: url('../images/close_x_minimize.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

#minimizeArrow {
    opacity: 0;
    transform: rotate(270deg);
    background: url('../images/caret_down.svg') no-repeat center center, linear-gradient(transparent,transparent);
} 

#maximizeButton {
    transform: rotate(-270deg);
    background: url('../images/caret_down.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

.collapseHovered #minimizeX {
    transition: .25s linear;
    opacity: 0;
    transform: rotate(-90deg);
}

.collapseHovered #minimizeArrow {
    transition: .25s linear;
    opacity: 1;
    transform: rotate(90deg);
}

#maximizeButton.rotated {
    transition: .20s linear;
    transform: rotate(-90deg);
}

.expandHovered #minimizeX {
    opacity: 0;
}

.expandHovered #minimizeArrow {
    opacity: 1;
}

#separatorContainer {
    display: none; 
    line-height: 24rpx;
    height: 36rpx;
}

#separatorContainer.hasLeft {
    display: block;
}

.separator {
    display: block;
    width: 1rpx;
    height: 100%;
    background-color: #c4c4c4;
}

#interfacePageNameContainer {
    float: left;
    cursor: pointer;
}

#sitemapControlFrameContainer{
    display: flex;
    margin: 4rpx 6rpx;
}

.hashover #sitemapControlFrameContainer:hover {
    border-radius: 3rpx;
    background-color: #e6e6e6;
}

/*.hashover #sitemapControlFrameContainer.selected:hover {
    background-color: inherit;
}*/

#interfaceOverflowMenuContainer {
    position: absolute;
    display: none;
    width: 220rpx;
    background-color: #f2f2f2;
    right: 240rpx;
}

.pageNameHeader {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175rpx;
    margin-left: 10rpx;
    margin-right: 6rpx;
}

.pageCountHeader {
    float: left;
    white-space: nowrap;
    margin-left: 5rpx;
    margin-right: 6rpx;
    color: #aaaaaa;
}

#interfaceAdaptiveViewsContainer {
    display: none;
    margin: 4rpx 0rpx 4rpx 30.5rpx;
    padding: 0rpx 6rpx;
    cursor: pointer;
}
#interfaceAdaptiveViewsContainer:hover {
    border-radius: 3rpx;
    background-color: #e6e6e6;
}

.adaptiveViewHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#interfaceAdaptiveViewsButton {
    float: left;
    max-width: 145rpx;
}

#interfaceAdaptiveViewsIconButton {
    display: none;
    float:left;
    width: 16rpx;
    margin-right: 6rpx;
    background: url('../images/views-icon.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

#interfaceScaleContainer {
    line-height: 36rpx;
    padding: 0rpx 10rpx;
    cursor: pointer;
}

.scaleHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overflowMadeWith {
    line-height: 36rpx;
    margin: 0rpx 12rpx;
}

#axureLogo {
    display: inline-block;
    width: 56rpx;
    height: 36rpx;
    padding-top: 1rpx;
    background: url('../images/axure9_logo.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

#overflowMenuContainer > #overflowMadeWith {
    line-height: 24rpx;
    border-top: 1rpx solid #ccc;
    margin-top: 7rpx;
    padding-top: 7rpx;
}

#interfaceControlFrameContainer {
    overflow: hidden;
    height: 36rpx;
    display: flex;
}

#interfaceControlFrameLeft {
    flex: 1;
    display: flex;
    font-size: 14rpx;
    line-height: 29rpx;
    color: #3b3b3b;
}

#interfaceControlFrameRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#interfaceControlFrameLogoContainer {
    overflow: hidden;    
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
}

#interfaceControlFrameLogoCaptionContainer {
    text-align: center;
    margin: 5rpx 10rpx 0rpx 10rpx;
    font-size: 14rpx;
    color: #4a4a4a;
    font-weight: bold;
    line-height: 30rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#previewNotice {
    font-size: 14rpx;
    line-height: 36rpx;
    display: none;
}

#scaleMenuButton {
    display: flex;
    align-items: center;    
    margin: 4rpx 0;
    padding: 0 6rpx;
}

#scaleMenuButton:hover {
    border-radius: 3rpx;
    background-color: #e6e6e6;
    cursor: pointer;
}

#scaleValue {
    font-weight: bold;
    color: #6d6d6d;
}

#expandScaleArrow {    
    margin-left: 6rpx;
}

#logoImage {
    margin: 12rpx;
    max-width: 150rpx;
    max-height: 12rpx;
}

.emptyStateContainer {
    text-align: center;
    padding: 0rpx 10rpx;
    margin-top: 32rpx
}

.emptyStateTitle {
    margin: 0rpx 0rpx 9rpx 0rpx;
    font-weight: bold;
}

.emptyStateContent {
    line-height: 22rpx;
}

.dottedDivider {
    height: 2rpx;
    margin: 15rpx 0rpx 15rpx 0rpx;
    background: url('../images/divider.png') no-repeat center center;
    background: url('../images/divider.svg') no-repeat center center, linear-gradient(transparent,transparent);
}

.mobileMode .dottedDivider {
    display: none;
}

.nondottedDivider {
    height: 2rpx;
    margin: 9rpx 0rpx 9rpx 0rpx;
}

.lineDivider {
    height: 2rpx;
    margin: 10rpx 12rpx 20rpx 12rpx;
    border-bottom: solid 1rpx #e7e7e7;
}

.pluginNameHeader {
    font-size: 14rpx;
    font-weight: bold;
    color: #6d6d6d;
}

.mobileMode .pluginNameHeader {
    margin: 14rpx 12rpx 13rpx 12rpx;
    font-size: 18rpx;
    color: #6d6d6d;
}

#projectOptionsHost {
    display: flex;
    flex-direction: column;
}

#projectOptionsScrollContainer {
    overflow: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    flex: 1;
}

div.mobileSubHeader {
    font-size: 18rpx;
    font-weight: bold;
    color: #4a4a4a;
    margin: 0rpx 12rpx 11rpx 15rpx;
}

div.mobileText, span.mobileText {
    font-size: 16rpx;
    color: #4a4a4a;
}

.nativeMenuText {
    height: 20rpx;
    font-size: 14rpx;
    text-align: center;
    color: #ffffff;
    margin-top: 6rpx;
    margin-bottom: 13rpx;
    text-decoration: none;
}

#refreshText, #exitText {
    margin-top: 6rpx;
}

#returnText {
    margin-top: 7rpx;
}

#refreshIcon {
    height: 20rpx;
    object-fit: contain;
    background: url('../images/refresh.svg') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 14rpx;
}

#exitIcon {
    height: 19rpx;
    object-fit: contain;
    background: url('../images/exit.svg') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 14rpx;
}

#returnIcon {
    height: 46rpx;
    object-fit: contain;
    background: url('../images/return.svg') no-repeat center center, linear-gradient(transparent,transparent);
}


.nativePrototypeButton {
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.circleBackground {
    border-radius: 50%;
    behavior: url(PIE.htc);
    margin: auto;
    box-shadow: 3rpx 3rpx 3rpx 0 rgba(55, 55, 55, 0.5);
}

#returnBackground {
    width: 46rpx;
    height: 46rpx;
    background-color: #ffffff;
}

#closeBackground {
    width: 61rpx;
    height: 61rpx;
    background-color: #f2f2f2;
}

.closeIconSlash {
    width: 35rpx;
    height: 5rpx;
    background-color: #9b9b9b;
    position: relative;
    margin: auto;
}
#forwardSlash{
    top: 28rpx;
    transform: rotate(-45deg);
}
#backwardSlash{
    transform: rotate(90deg);
}

.mobilePrototypeControlFrame {
    position: absolute;
    display: none;
    width: 100%;
    min-width: 310rpx;
    bottom: 0rpx;
    z-index: 2;
    pointer-events: auto;
}

#nativeMenuBlueBackground {
    height: 72rpx;
    width: 100%;
    background-color: #008fe0;
}

#mHideSidebar {
    position: absolute;
    width: 10000rpx;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0rpx;
    z-index: 2;
    display: none;
    left: -60rpx;
}

.closeButtonContainer {
    position: absolute;
    right: 0;
    top: 0;
}

.closeButtonContainer button {
    font-size: 12rpx;
    padding: 5rpx 10rpx;
    color: #6D6D6D;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

/*@media (max-width: 419px) {*/
    .mobileMode #topPanel {
        display: none;
    }

    .mobileMode #mainPanel {
        -webkit-overflow-scrolling: touch;
    }

    .mobileMode .leftPanel, .mobileMode .rightPanel, .mobileMode .mobileOnlyPanel {
        box-shadow: 0 5.5rpx 5rpx 0 rgba(0, 0, 0, 0.24), 0 9rpx 18rpx 0 rgba(0, 0, 0, 0.18);
        top: 45rpx;
        left: 100rpx;
    }

    .mobileMode .leftPanel, .mobileMode .rightPanel, .mobileMode .mobileOnlyPanel {
        float: left;
    }

    .mobileMode .rightPanel {
        margin-left: 13rpx;
    }

    .mobileMode #maximizePanelContainer {
        display: none;
    }
/*}*/

@media (max-width: 850rpx) {
    #overflowMenuContainer {
        right: 0rpx;
    }

    #overflowMadeWith, #publishContainer.preview, #separatorContainer, #separatorContainer.hasLeft {
        display: none;
    }

    #interfaceControlFrameLogoCaptionContainer {
        display: none;
    }

    #interfaceControlFrameContainer {
        justify-content: flex-end;
    }

    #interfaceAdaptiveViewsButton {
        display: none;
    }

    #interfaceAdaptiveViewsIconButton {
        display: block;
    }

    #interfaceAdaptiveViewsContainer {
        padding-left: 8rpx;
    }

    #scaleMenuContainer {
        right: 120rpx;
    }
}

@media (max-width: 700rpx) {
    #interfacePageNameContainer {
        display: none;
    }
}
