body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:614px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:155px;
  width:614px;
  height:1205px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:252px;
  width:546px;
  height:987px;
}
#u127_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:987px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1006px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:614px;
  height:1006px;
  display:flex;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:458px;
  width:110px;
  height:110px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_img.mouseOver {
  width:120px;
  height:120px;
}
#u129.mouseOver {
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:602px;
  width:239px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:67px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:815px;
  width:70px;
  height:67px;
  display:flex;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:761px;
  width:200px;
  height:2px;
  display:flex;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_img.mouseOver {
  left:-2px;
  top:-2px;
  width:204px;
  height:7px;
}
#u132.mouseOver {
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:986px;
  width:200px;
  height:2px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_img.mouseOver {
  left:-2px;
  top:-2px;
  width:204px;
  height:7px;
}
#u133.mouseOver {
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:228px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:762px;
  width:2px;
  height:225px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_img.mouseOver {
  left:-2px;
  top:-2px;
  width:7px;
  height:229px;
}
#u134.mouseOver {
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:228px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:762px;
  width:2px;
  height:225px;
  display:flex;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_img.mouseOver {
  left:-2px;
  top:-2px;
  width:7px;
  height:229px;
}
#u135.mouseOver {
}
#u135_img.selected {
  left:-3px;
  top:-3px;
  width:11px;
  height:231px;
}
#u135.selected {
}
#u135_img.mouseOver.selected {
  left:-3px;
  top:-3px;
  width:11px;
  height:231px;
}
#u135.mouseOver.selected {
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:457px;
  width:15px;
  height:15px;
  display:flex;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:904px;
  width:93px;
  height:32px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:3px;
  color:#FFFFFF;
}
#u137.mouseOver {
}
#u137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:70px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:799px;
  width:59px;
  height:70px;
  display:flex;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:762px;
  width:200px;
  height:2px;
  display:flex;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:986px;
  width:200px;
  height:2px;
  display:flex;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:228px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:763px;
  width:2px;
  height:225px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:228px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:763px;
  width:2px;
  height:225px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:5px;
  color:#FFFFFF;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:904px;
  width:99px;
  height:32px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:5px;
  color:#FFFFFF;
}
#u143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
